include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/scryfall *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/scryfall/migration *.ini *.py *.mako
