<!-- @format -->

<head>
<link rel="stylesheet" href="/style.css" />
<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
></script>

<script>
    var map = L.map("wms_map");
    var wmsLayer = L.tileLayer(
        "https://mapserver.tnris.org/?map=/mapfiles/briscoe_usda_1953_index.map&mode=tile&tilemode=gmap&tile={x}+{y}+{z}&layers=all&map.imagetype=png",
        {
            layers: "all",
        }
    ).addTo(map);
</script>

</head>



<h1>Wms Map Viewer</h1>
<h2>Map</h2>
<div role="presentation" aria-label="WMS map" id="wms_map"></div>

