<!-- @format -->

<head>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script>
        function startLeaflet() {
            var map = L.map("wms_map").setView([31, -108], 5);
            var wmsLayer = L.tileLayer(
                "{{map_server_url}}&mode=tile&tilemode=gmap&tile={x}+{y}+{z}&layers=all&map.imagetype=png",
                {
                    maxZoom: 19,
                    attribution:
                        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStree000tMap</a>',
                }, {
                attribution: 
                    '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreet111Map</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
            }
            ).addTo(map);
            map.attributionControl.setPrefix("");
        }

    </script>
</head>

<body>
    <h1>Wms Map Viewer</h1>
    <h2>Map</h2>
    <div id="wms_map"></div>
    <script>
        // Document should be ready now.
        startLeaflet();
    </script>
</body>